<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Panucci's Pizza</title>
    </head>
    <body>
        <header>
            <h1>Panucci's Pizza</h1>
            <p>
                <a href="{% url 'pizzas:index' %}">Panucci's Pizza</a> -
                <a href="{% url 'pizzas:pizzas' %}">Pizzas</a>
            </p>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>&copy pcc2e, 2023</footer>
    </body>
</html>